html{
  box-sizing: border-box;
}
body{
  background-color: #fff;
  font-family: 'Georgia','Antic Didone', serif;
  //background-image: url('../images/bg.png');
}
    body.admin-bar{
      header.banner,#responsive_menu_pro_button,.wpmenucart-shortcode,#responsive_menu_pro  { margin-top: 32px !important; }
      @media screen and ( max-width: 782px ) {
          header.banner,#responsive_menu_pro_button,.wpmenucart-shortcode,#responsive_menu_pro  { margin-top: 46px !important; }
      }
  }
body.home{
  background-color: #000;
}
a:visited{ color:initial; }

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
svg path {
    fill: inherit;
}

*:link {
    color: #000;
}
