/* PAGE */
.wrap.container>.content {
    background-color: #fff;
}
#container{
  padding:20px 12px;
}

.page-wrapper {
     padding: 0;
    overflow:hidden;
    position:relative;
    max-width: 1280px;
    margin: 0 auto;
    padding-right: $spacing-unit--small;
    padding-left:  $spacing-unit--small;

    @include media-query(lap-and-up) {
        padding-right: $spacing-unit;
        padding-left:  $spacing-unit;
    }

}

.page-wrapper--little{
  max-width: 930px;
}

.home .page-wrapper{
   @include media-query(palm) {
    padding:0;
   }

}
main > .woocommerce{
  padding:1rem 2%;
}