// CATEGORY
.tax-product_cat{
  .page-title{
    display:none;
  }
  #content ul.products{
    margin:0;
  }
}
.linea-image-wrap{ position:relative; >img{ width:100%; }}
.term-categories-title{
  text-align: center;
  background-color: rgba(207, 173, 66, 0.12);
  padding: 10px 0;
  margin: .75rem 0px;
  color: rgb(0, 0, 0);

}
.term-description{
  @include media-query(lap-and-up)
  {
    position: absolute;
    text-align: left;
    padding-left: 10px;
    max-width: 25%;
    top: 22%;
  }
}
.term-description-title{
  font-size: 1.5rem;
  @include media-query(lap-and-up)
  {
    font-size: 2.25rem;
  }
  margin-bottom: 0.5rem;
}

.woocommerce{
  ul.products li.product-category{
    position:relative;
    margin-right: .5%;
    margin-bottom: 5px;
    //padding: 1rem;
    //box-sizing: content-box;
    //background-color: #F1F1F1;
    @include media-query(lap-and-up)
      {
        width:24.5%;
      }
    >a{font-size:0;}
    h3,.count{display:none;}
    img{ margin-bottom: 0;}
    h3{ font-size: 0.75rem;}
      &:hover,&.empty {
        background-color: #fff;
        .opacity-effect{
          width: 100%;
position: absolute;
top: 0px;
padding-bottom: 100%;
background-color: rgba(198,189,189,.5);
        }
        img{border: 1px solid #C4C4C4;}
        /*
        h3{
          display: inline-block;
          position: absolute;
          bottom: 2.5rem;
          left: 50%;
          transform: translate( -50% );
          border: 1px solid #C8C8C8;
          padding: 2% 5%;
          text-transform: uppercase;
          background-color: #fff;
          text-align: center;
        }
        */
      }
      &.empty{
        img{max-width: 100%}
        .opacity-effect:before{
            content:'Coming Soon';
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 700;
        }
      }
  }
}

.woocommerce{
  .quantity{
    .minus,.plus{
      border: 1px solid rgb(218, 217, 217);
      color: rgb(92, 92, 91);
      white-space: nowrap;
      border-radius: 3px;
      vertical-align: top;
      height: 38px;
      width: 24px;
      padding: 0 6px;
      overflow: hidden;
      background-color: #ede9e9;
      cursor:pointer;
      &:hover{
        background-color:#fafafa;
      }
      &::before {
          vertical-align: middle;
          display: inline-block;
          line-height: 34px;
      }
    }
  }
}
.woocommerce td.product-name dl.variation dd {
    padding:0;
    margin: 0 0 .5rem .25rem;
}
