.glide__track{
  margin-left: 0px;
display: inline-block;
}
.glide__wrapper{
  height: 100% !important;
}
.glide__slide{
  height:auto !important;
}

.u-6\/11 {
    width: 58.61% !important;
}
.u-5\/11 {
    width: 41.39% !important;
}

.claim {
    position: absolute;
    z-index: 11;
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.2;
    >h5 {
        font-size: 2rem;
        margin-bottom: 0px;
    }
    >p {}
}

.col {
    position: relative;
}

.row {
    width: 100%;
    padding-bottom: 39.247%;
    height: 0;
}
