.banner {
    //background-image: url('../images/fascia-menu.png');
    border-bottom: 3px solid rgb(207, 173, 66);
    border-left: 3px solid rgb(207, 173, 66);
    border-right: 3px solid #CFAD42;
    background-color: #35180F;
}

.nav-primary {
    position: relative;
    text-align: center;
    z-index: 11;
    list-style: none;
}


