body.history{
	.page-header{
				padding: .5rem 0px;
		>h1{
		    @include page-title();
		}
	}
	.content-wrapper{
		padding:2%;
<<<<<<< HEAD
=======
		img{max-width: 100%;
			height:auto;}
>>>>>>> 605c150... img history
	}
}
body.contacts,body.contatti{
	.page-header{
				padding: .5rem 0px;
		>h1{
		    @include page-title();
		}
	}
	.content-wrapper{
		padding:2%;
	}
	.contact-wrapper{
		text-align: center;
	}
	.intern-dist{ margin-right: 2rem;}
		.intern-dist,.ita-dist{
		text-align: left;
		p{
			margin-bottom: .5rem;
		}
		@include media-query(lap-and-up)
		{
			display:inline-block;
			vertical-align: top;
		}
		
	}
}
body.page{
		.page-header{
				padding: .5rem 0px;
		>h1{
		    @include page-title();
		}
	}
	.content-wrapper{
		padding:2%;
	}
}
body.page.home,body.page.woocommerce-account{
		.content-wrapper{
		padding:0;
	}
}
body.search{
		.wrap.container>.content{ 
		padding:2%;
	}
}