.linea-description {
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: .5rem 0 0;
    @include media-query(palm) {
        display: none;
    }
}

.linea-nav {
    order: 1;
    display: inline-block;
    width: 100%;
    padding: 5px 0 0;
    border-bottom: 1px solid rgb(207, 173, 66);
    text-align: left;
    //margin: 0 1%;
    padding: 0 1%;
    nav+& {
        //border-bottom:none;
        padding-bottom: 0;
    }
    &-title.linea-nav-listelement {
        //font-size: 1.1rem;
        margin-top: 0px;
        //line-height: 1.125;
        display: inline-block;
        vertical-align: text-bottom;
        margin-bottom: 0px;
        //margin-right: 0.5rem;
        background-color: rgb(207, 173, 66);
        padding: 7px;
        >a {
            color: #fff;
        }
    }
    &-list {
        margin: 0px;
        display: inline-flex;
        align-items: center;
        width: 100%;
        font-size: 15px;
        line-height: 1.2;
        vertical-align: middle;
        justify-content: center;
        &>a {
            display: inline-block;
        }
    }
    &-listelement {
        display: inline-block;
        margin-right: 3%;
        vertical-align: middle;
        >a {
            color: #000;
            text-decoration: none;
        }
    }
    >.term-description {
        display: inline-block;
        position: absolute;
        left: 5%;
        bottom: 2%;
        max-width: 43%;
        text-align: left;
    }
}

.linea-subnav {
    order: 2;
    background-color: rgba(207, 173, 66, 0.12);
    width: 100%;
    display: block;
    margin: 0px auto 0;
    &-list {
        margin: 0px;
        display: inline-flex;
        font-size: 14px;
        line-height: 1.2;
        vertical-align: middle;
        align-items: center;
        width: 100%;
        padding: 1% 13px;
        justify-content: center;
        >span {
            font-weight: 900;
            margin-right: 3%;
            color: rgb(207, 173, 66);
        }
    }
    &-listelement {
        display: inline-block;
        margin-right: 3%;
        vertical-align: middle;
        a {
            text-decoration: none;
            color: #505050;
        }
        &.active a {
            color: #cfad42;
            font-weight: 900;
            text-decoration: underline;
        }
    }
}
